@model GroceryStoreApp.Models.HomeViewModel

<h2>Products</h2>

<table class="table">
    @foreach (var p in Model.Products)
    {
        <tr>
            <td>@p.Name</td>
            <td>₹@p.Price</td>
            <td><a class="btn btn-success" href="/Cart/Add/@p.Id">Add to Cart</a></td>
        </tr>
    }
</table>
<div class="mt-4">
    <a asp-controller="Products" asp-action="List" class="btn btn-primary btn-lg">View Products 🛍️</a>
    <a asp-controller="Cart" asp-action="Index" class="btn btn-warning btn-lg">Go to Cart 🛒</a>
</div>

